@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Galmuri11';
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/npm/galmuri/dist/Galmuri11-Bold.woff2') format('woff2');
  font-display: swap;
}

@theme {
  --color-primary-100: #fafff9;
  --color-primary-200: #d6eed0; /* 기본 */
  --color-primary-300: #bfd8b8;
  --color-primary-400: #9ccca0;
  --color-primary-500: #8fbc93;
  --color-primary-600: #68ab6e;

  --color-primary-brown-100: #c9968d;
  --color-primary-brown-200: #a47971;
  --color-primary-brown-300: #7a5751; /* 기본 */
  --color-primary-brown-400: #614540;
  --color-primary-brown-500: #3d2b27;

  --color-secondary-100: #ffffe6;
  --color-secondary-200: #feffcc;
  --color-secondary-300: #fdfeb0; /* 기본 */
  --color-secondary-400: #fbfc7b;
  --color-secondary-500: #fcff1b;

  --color-gray-0: #fafafa;
  --color-gray-50: #f7f7f7;
  --color-gray-100: #efefef;
  --color-gray-200: #e4e4e4;
  --color-gray-300: #d1d1d1;
  --color-gray-400: #c3c3c3;
  --color-gray-500: #afafaf;
  --color-gray-600: #999999;
  --color-gray-700: #787878;
  --color-gray-800: #5d5d5d;
  --color-gray-900: #3e3e3e;
  --color-gray-1000: #2b2b2b;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-notice: #f62d62;

  --color-success: #4caf51;
  --color-warning: #ffcd07;
  --color-error: #ff5652;
  --color-info: #428af5;

  --font-galmuri: 'Galmuri11', sans-serif;
}

/* 기본 폰트 Pretendard 설정되어 있어 매번 적용 안 시키셔도 됩니다. */
@layer base {
  html,
  body {
    font-family: 'Pretendard', sans-serif;
    background-color: var(--color-white);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.AppContainer {
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
